@model IEnumerable<MediaShareMVC_Core.Models.Media>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Media", FormMethod.Get))
{
    //<form class="d-flex">
    <input class="form-control me-sm-2" type="text" name="Search" placeholder="Search">
    <br>
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    //</form>
}


<br>
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Welcome ◕⩊◕ </div>
    <div class="card-body">
        <h4 class="card-title">This is your Personal Board.</h4>
        <p class="card-text">You can see all your posts, edit them, delete them or create another one.</p>
    </div>
</div>

<button type="button" class="btn btn-outline-dark"><p style="color: black; font-size: 18px"><a asp-action="Create"> >New Post👾💾</a></p></button>
<br>
<br>

@*<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MediaTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaPublic)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>*@
@foreach (var item in Model)
{
    <div class="card" style="width: 38rem;">
        <h3 class="card-header">@Html.DisplayFor(modelItem => item.MediaTitle)</h3>
        <img class="card-img-top" src="@Url.Content("https://awscoremvc.s3.us-east-2.amazonaws.com/Images/" + item.MediaName)" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Posted by @Html.DisplayFor(modelItem => item.Email)</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a asp-action="Edit" asp-route-id="@item.MediaId">Edit</a></li>
            <li class="list-group-item"><a asp-action="Details" asp-route-id="@item.MediaId">Details</a></li>
            <li class="list-group-item"><a asp-action="Delete" asp-route-id="@item.MediaId">Delete</a></li>
        </ul>
        @*<div>
                <a asp-action="Edit" asp-route-id="@item.MediaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MediaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MediaId">Delete</a>
            </div>*@
        <div class="card-footer text-muted">
            Public Status @Html.DisplayFor(modelItem => item.MediaPublic)
        </div>
    </div>
    <br>

    @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item.MediaTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaName)
                <img src="@Url.Content("https://awscoremvc.s3.us-east-2.amazonaws.com/Images/" + item.MediaName)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaPublic)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MediaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MediaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MediaId">Delete</a>
            </td>
        </tr>*@
}
@*</tbody>
    </table>*@



